<html>
    <head>
        <h1 class="titulo">Test Generala</h1>

        <button onclick="myFunction()">Try it</button>

        <script>
        function myFunction() {
            var x = document.createElement("INPUT");
            x.setAttribute("type", "file");
            document.body.appendChild(x);
        }
</script>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <h1>Jugador 1</h1> 
                <p>Jugador 1</p> 
            </div>           

            <div class="row">
                <img id="p1_slot1" src="static/die1.png">
            </div>

            <div class="row">
                <h1>Jugador 2</h1> 
                <p>Jugador 2</p> 
            </div>      

            <div class="row">
                <img id="p2_slot1" src="static/die1.png">
            </div>
        </div>
    </body>
</html>